@page "{id?}"
@model MonopHelper.Pages.Cards.Manage

@{
    ViewData["Title"] = "Manage Cards";
}

<div class="modal fade" id="uploadCards" tabindex="-1" role="dialog" aria-labelledby="uploadCards" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Upload <span id="CardTypeName"></span> Cards</h4>
                <button type="button" class="btn btn-sm btn-link" data-bs-dismiss="modal">
                    <span class="fa-solid fa-x text-danger"></span>
                </button>
            </div>
            <form method="post" asp-page-handler="Upload" enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="hidden" asp-for="Upload.TypeId" id="TypeId"/>
                    <input type="hidden" asp-for="Upload.DeckId" id="DeckId" value="@Model.CardDeckDropdown?.First()?.Value"/>
                    <label asp-for="Upload.CsvFile"></label>
                    <input type="file" class="form-control" asp-for="Upload.CsvFile"/>
                    <span asp-validation-for="Upload.CsvFile" class="text-danger"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="this.form.submit()">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>



<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" role="tablist">
            <li class="nav-item">
                <button class="nav-link active" id="cards-tab" data-bs-toggle="tab" data-bs-target="#cards" type="button" role="tab" aria-controls="cards" aria-selected="true">Cards</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" id="cardTypes-tab" data-bs-toggle="tab" data-bs-target="#types" type="button" role="tab" aria-controls="types" aria-selected="false">Card Types</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" id="cardDecks-tab" data-bs-toggle="tab" data-bs-target="#decks" type="button" role="tab" aria-controls="decks" aria-selected="false">Card Decks</button>
            </li>
        </ul>
    </div>
    <div class="card-body bg-light tab-content">
        <div class="tab-pane fade show active" id="cards" role="tabpanel" aria-labelledby="cards-tab">
            <div class="card mb-4">
                <div class="card-header bg-warning text-dark">
                    Upload Cards
                </div>
                <div class="card-body bg-light">
                    <div class="row">
                        <div class="col-sm-8">
                            <p>
                                Create an Excel file with the headings 'Text' and 'Cost'. Each row will represent a different card.
                            </p>
                            <p>
                                In the 'Text' column, input what the card will say.
                                <br/>
                                In the 'Cost' column input what the player will receive/pay based on the card.
                                Leave blank if the player does not receive/pay anything (or if the cost is ambiguous, like street repairs).
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <p>
                                See Example:
                            </p>
                            <table class="table table-secondary table-bordered">
                                <thead>
                                <tr>
                                    <th>Text</th>
                                    <th>Cost</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Speeding fine! Pay 20</td>
                                    <td>-20</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header bg-info text-white">
                    Select Card Deck
                </div>
                <div class="card-body bg-light">
                    <label>Card Deck</label>
                    <select asp-items="Model.CardDeckDropdown" class="form-control" onchange="ShowCards(this)"></select>
                </div>
            </div>

            <div class="card">
                <div class="card-header bg-primary text-white">
                    Cards
                </div>
                <div class="card-body bg-light">
                    <div class="row">
                        <div class="col-sm-2">
                            <button class="btn btn-info text-white mt mb" style="width: 100%; word-break: break-word; word-wrap: break-word"
                                    onclick="location.assign('/Cards/Edit/0')">
                                Create New Card
                            </button>
                            
                            <div class="h-line"></div>
                            
                            <div id="AddCardsBtns">
                                <partial name="Cards/_AddCardTypes" model="Model.CardTypes.Where(t => t.TenantId != 0).ToList()"/>
                            </div>

                            <div class="h-line mt-3"></div>
                        </div>
                        <div class="col-sm-10">
                            <div class="card-body bg-light" id="CardsTable">
                                <partial name="Cards/_CardsTable" model="Model.Cards"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="tab-pane fade" id="types" role="tabpanel" aria-labelledby="cardTypes-tab">
            <div class="card">
                <div class="card-header bg-warning">
                    Card Types
                </div>
                <div class="card-body bg-light">
                    <button class="btn btn-info text-white mt mb" onclick="EditCardType(0, false)">
                        Add Card Type
                    </button>
                    <div id="CardTypeTable">
                        <partial name="Cards/_CardTypesTable" model="Model.CardTypes.Where(t => t.TenantId != 0).ToList()"/>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="tab-pane fade" id="decks" role="tabpanel" aria-labelledby="cardDecks-tab">
            <div class="card">
                <div class="card-header bg-warning">
                    Card Decks
                </div>
                <div class="card-body bg-light">
                    <button class="btn btn-info text-white mt mb" onclick="location.assign('/Cards/Deck/0')">
                        Add Card Deck
                    </button>
                    <div id="CardDeckTable">
                        <partial name="Cards/_CardDecksTable" model="Model.CardDecks.Where(t => t.TenantId != 0).ToList()"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>