@using MonopolyCL.Helpers
@model MonopolyCL.Models.Cards.Card?


@{
    if (Model == null)
    {
        <p>Could not get card!</p>
    }
    else
    {
        <div class="card text-center">
            <div style="background: @(Model.CardType.Colour) !important; color: @(ColourHelper.FontColour(Model.CardType.Colour)) !important;" class="card-header bg-danger">
                @Model.CardType.Name Card
            </div>
            <div class="card-body bg-light">
                <p>@Model.Text</p>
            </div>
        </div>
    }
}
