@page
@using System.ComponentModel
@model MonopHelper.Pages.TurnBased.Index

@{
    ViewData["Title"] = "Turn Based Games";
}

<div class="card mt mb">
    <div class="card-header bg-primary text-white">
        Create New Game
    </div>
    <div class="card-body bg-light">
        <form method="post">
            <div class="row">
                <div class="col-sm-12 mb-3">
                    <label asp-for="CreateGame.GameName"></label>
                    <input asp-for="CreateGame.GameName" class="form-control mt mb"/>
                    <span class="text-danger" asp-validation-for="CreateGame.GameName"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 mb-3">
                    <label asp-for="CreateGame.PlayerIds"></label>
                    <select asp-for="CreateGame.PlayerIds" asp-items="Model.Players" class="chosen-select form-control mt mb"></select>
                    <span class="text-danger" asp-validation-for="CreateGame.PlayerIds"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 mb-3">
                    <label asp-for="CreateGame.BoardId"></label>
                    <select asp-for="CreateGame.BoardId" asp-items="Model.Boards" class="form-control mt mb"></select>
                    <span class="text-danger" asp-validation-for="CreateGame.BoardId"></span>
                </div>
                <div class="col-sm-6 mb-3">
                    <label asp-for="CreateGame.DeckId"></label>
                    <select asp-for="CreateGame.DeckId" asp-items="Model.Decks" class="form-control mt mb"></select>
                    <span class="text-danger" asp-validation-for="CreateGame.DeckId"></span>
                </div>
            </div>
            <div class="mt">
                <input type="submit" class="btn btn-success" value="Create Game"/>
            </div>
        </form>
    </div>
</div>

<div class="card mt mb">
    <div class="card-header bg-info text-white">
        Load Game
    </div>
    <div class="card-body bg-light">
        @{
            if (Model.Games.Any())
            {
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr class="table-dark">
                        <th>Game Name</th>
                        <th>Board Name</th>
                        <th>Players</th>
                        <th>Last Played</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @{
                        foreach (var game in Model.Games)
                        {
                            <tr onclick="location.assign('/TurnBased/Setup/@(game.GameId)')">
                                <td>@game.GameName</td>
                                <td>@game.BoardName</td>
                                <td>@game.Players</td>
                                <td>@game.LastPlayed.ToString("g")</td>
                                <td>
                                    <button onclick="location.assign('/TurnBased/Setup/@(game.GameId)')"
                                            class="btn btn-sm btn-success rounded-pill" style="width: 100%">
                                        Play
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            }
            else
            {
                <span>You have not created any games yet.</span>
            }
        }
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        $(".chosen-select").chosen()
    </script>
}
