@page "{id?}"
@model MonopHelper.Pages.TurnBased.Setup

@{
    var title = Model.Game.Game.Name;
    if (string.IsNullOrEmpty(title))
    {
        title = "Turn Based Game";
    }
    ViewData["Title"] = $"{title} - Setup";
    Layout = "TurnBased/Shared/_TurnLayout";
}

<div class="card mt mb">
    <div class="card-header bg-primary text-white">
        Turn Order
    </div>
    <div class="card-body bg-light">
        <p>
            Order the players below in clockwise order.<br/>
            Then input each player's dice number.
        </p>
        @{
            var index = 0;
            foreach (var player in Model.Game.Players)
            {
                var first = index == 0;
                
                <div class="player">
                    <div class="player-box">
                        <span>@player.Name</span>
                    </div>
                    <div class="input-box">
                        <select ></select>
                    </div>
                </div>
                
                index++;
            }
        }
    </div>
</div>