@page "{id}"
@model MonopHelper.Pages.Cards.Actions.Index

@{
    ViewData["Title"] = "Card Action";
}
<button class="btn btn-sm btn-primary rounded-pill px-3 mb-3" onclick="location.assign('/Cards/Manage')">Go Back</button>
<div class="card mb-4">
    <div class="card-header bg-info text-white">
        Card Actions
    </div>
    <div class="card-body bg-light">
        <p class="text-center"><b>Coming Soon</b></p>
    </div>
</div>