@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="card">
    <div class="card-header text-white bg-primary">
        Monopoly Helper - @V.GetVersion()
    </div>
    <div class="card-body bg-light">
        <div class="mb divider">
            <h4>Turn Games</h4>
            <button class="btn btn-info text-white mt mb" onclick="location.assign('/TurnBased/Index')">Create & Play Turn Games</button>
        </div>
        <div class="mb divider">
            <h4>Software Versions</h4>
            <p>
                View version history and patch notes.
            </p>
            <div style="display: inline">
                <button class="btn btn-info text-white mt mb mr" onclick="location.assign('/Version')">View Versions</button>
            </div>
        </div>
    </div>
</div>