:root{
  --brownP: #4f2f16;
  --blueP: #46a4e8;
  --pinkP: #de1b96;
  --orangeP: #f78e0c;
  --redP: #bf2424;
  --yellowP: #e8d52c;
  --greenP: #1d691a;
  --darkBlueP: #1f1352;
  --station: #222;
  --util: #fefefe;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #fff; /* For browsers that do not support gradients */
  background-image: linear-gradient(#fff, #bbb);
}

h1{
  font-size: 2rem;
}

h2{
  font-size: 1.8rem;
}

h3{
  font-size: 1.5rem;
}

h4{
  font-size: 1.2rem;
}

.card{
  box-shadow: 2px 5px 18px #888888;
  border-radius: 15px;
}

.card-header{
  font-size: 18px;
  font-weight: 700;
}

.card-body{
  border-radius: 15px;
}

.divider{
  background: #e6e6e6;
  padding: 20px;
  border: #ddd 2px ridge;
  border-radius: 6px;
}

.h-line{
  height: 2px;
  margin: 5px;
  border: 1px #ddd ridge;
  border-radius: 2px;
}

.list{
  padding: 0 10px;
}

.money{
  display: inline-block; 
  transform: scale(1, -1);
  translate: 0 1px;
  margin-right: 1px;
}

.mr{
  margin-right: 10px;
}
.ml{
  margin-left: 10px;
}
.mt{
  margin-top: 10px;
}
.mb{
  margin-bottom: 10px;
}

.prop-0{
  background: var(--brownP);
  color: white;
}
.prop-1{
  background: var(--blueP);
  color: white;
}
.prop-2{
  background: var(--pinkP);
  color: white;
}
.prop-3{
  background: var(--orangeP);
  color: white;
}
.prop-4{
  background: var(--redP);
  color: white;
}
.prop-5{
  background: var(--yellowP);
  color: black;
}
.prop-6{
  background: var(--greenP);
  color: white;
}
.prop-7{
  background: var(--darkBlueP);
  color: white;
}
.prop-8{
  background: var(--station);
  color: white;
}
.prop-9{
  background: var(--util);
  color: black;
}