@page
@model MonopHelper.Areas.Admin.Pages.Test

@{
    Layout = "_Layout";
}

<form method="post">
    <input type="submit" class="btn" value="Test"/>
</form>


<div>
    <partial name="Cards/Actions/_BoardModel" model="1"/>
</div>