@page
@model MonopHelper.Pages.InGame.NotFound

@{
    ViewData["Title"] = "No Game Found";
}

<div class="text-center">
    <h1 class="mt mb">@ViewData["Title"]</h1>
    <br/>
    <button class="btn btn-primary" onclick="Redirect()">Create New Game</button>
</div>

<script>
    function Redirect(){
        location.assign("/");
    }
</script>