<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Monopoly Helper</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/MonopHelper.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/sweetalert2.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/chosen.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/TurnBased.css" asp-append-version="true"/>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.14.5/dist/sweetalert2.min.css" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">
                <div style="display: flex">
                    <img class="mr" src="~/favicon.ico" width="30px" height="30px" alt="Logo"/>
                    <b>Monopoly Helper</b>
                </div>

            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item ml mr">
                        <a class="nav-link text-dark" asp-page="/TurnBased/Index">Turn Game</a>
                    </li>

                    <li class="nav-item dropdown ml mr">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="playersDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Players
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="playersDropdown">
                            <li><a class="dropdown-item" asp-page="/Players/Index">Player List</a></li>
                            <li><a class="dropdown-item" asp-page="/Players/Edit/0">New Player</a></li>
                        </ul>
                    </li>

                    <li class="nav-item ml mr">
                        <a class="nav-link text-dark" asp-page="/Cards/Manage">Manage Cards</a>
                    </li>

                    <li class="nav-item ml mr">
                        <a class="nav-link text-dark" asp-page="/Version">
                            Version History
                        </a>
                    </li>

                    <li class="nav-item dropdown ml mr">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="legacyGameDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Legacy
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="legacyGameDropdown">
                            <li><a class="dropdown-item" asp-page="/Create">New Game</a></li>
                            <li><a class="dropdown-item" asp-page="/Load">Load Game</a></li>
                            <li><a class="dropdown-item" asp-page="/Cards/Index">Play Cards</a></li>
                        </ul>
                    </li>
                </ul>
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </nav>
</header>
<div class="container-xl">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
<footer class="border-top footer text-muted">
    <div class="container-xl">
        @V.GetVersion()
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/admin.js" asp-append-version="true"></script>
<script src="~/js/Cards/Cards.js" asp-append-version="true"></script>
<script src="~/js/sweetalert2.min.js" asp-append-version="true"></script>
<script src="~/js/chosen.jquery.js" asp-append-version="true"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://kit.fontawesome.com/29bf1169ee.js" crossorigin="anonymous"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>