@using MonopHelper.Models.ViewModels
@model int

<div class="row g-0" style="height: 120px">
    <div class="col-1 g-0 space-board bg-empty bt bl"></div>
    
    <div class="col-1 g-0 space-board">
        <div class="bt bl bg-light" style="height: 85%"></div>
        <div class="bt bl bb prop-4" style="height: 15%"></div>
    </div>
    
    <div class="col-1 g-0 bt bl bb space-board bg-empty"></div>
    
    <div class="col-1 g-0 space-board">
        <div class="bt bl bg-light" style="height: 85%"></div>
        <div class="bt bl bb prop-4" style="height: 15%"></div>
    </div>
    
    <div class="col-1 g-0 space-board">
        <div class="bt bl bg-light" style="height: 85%"></div>
        <div class="bt bl bb prop-4" style="height: 15%"></div>
    </div>
    
    <div class="col-1 g-0 space-board">
        <div class="bt bl bg-light" style="height: 85%"></div>
        <div class="bt bl bb prop-8" style="height: 15%"></div>
    </div>
    
    <div class="col-1 g-0 space-board">
        <div class="bt bl bg-light" style="height: 85%"></div>
        <div class="bt bl bb prop-5" style="height: 15%"></div>
    </div>
    
    <div class="col-1 g-0 space-board">
        <div class="bt bl bg-light" style="height: 85%"></div>
        <div class="bt bl bb prop-5" style="height: 15%"></div>
    </div>
    
    <div class="col-1 g-0 border-top">
        <div class="bt bl bg-light" style="height: 85%"></div>
        <div class="bt bl bb prop-9" style="height: 15%"></div>
    </div>
    
    <div class="col-1 g-0 space-board">
        <div class="bt bl bg-light" style="height: 85%"></div>
        <div class="bt bl bb prop-5" style="height: 15%"></div>
    </div>
    
    <div class="col-1 g-0 bt bl br space-board bg-empty"></div>
</div>

<div class="row g-0" style="height: 95px">
    <div class="col-1 g-0 space-board" style="height: 100%">
        <div style="display: flex; height: 100%">
            <div class="bt bl bg-light" style="width: 85%"></div>
            <div class="bt bl br prop-3" style="width: 15%"></div>
        </div>
    </div>
    <div class="col-9 g-0"></div>
    <div class="col-1 g-0 space-board" style="height: 100%">
        <div style="display: flex; height: 100%">
            <div class="bt bl prop-6" style="width: 15%"></div>
            <div class="bt bl br bg-light" style="width: 85%"></div>
        </div>
    </div>
</div>

<div class="row g-0" style="height: 95px">
    <div class="col-1 g-0 space-board" style="height: 100%">
        <div style="display: flex; height: 100%">
            <div class="bt bl bg-light" style="width: 85%"></div>
            <div class="bt bl br prop-3" style="width: 15%"></div>
        </div>
    </div>
    <div class="col-9 g-0"></div>
    <div class="col-1 g-0 space-board" style="height: 100%">
        <div style="display: flex; height: 100%">
            <div class="bt bl prop-6" style="width: 15%"></div>
            <div class="bt bl br bg-light" style="width: 85%"></div>
        </div>
    </div>
</div>

<div class="row g-0" style="height: 95px">
    <div class="col-1 g-0 bt bl br space-board bg-empty" style="height: 100%"></div>
    
    <div class="col-9 g-0"></div>
    
    <div class="col-1 g-0 bt bl br space-board bg-empty" style="height: 100%"></div>
</div>

<div class="row g-0" style="height: 95px">
    <div class="col-1 g-0 space-board" style="height: 100%">
        <div style="display: flex; height: 100%">
            <div class="bt bl bg-light" style="width: 85%"></div>
            <div class="bt bl br prop-3" style="width: 15%"></div>
        </div>
    </div>
    <div class="col-9 g-0"></div>
    <div class="col-1 g-0 space-board" style="height: 100%">
        <div style="display: flex; height: 100%">
            <div class="bt bl prop-6" style="width: 15%"></div>
            <div class="bt bl br bg-light" style="width: 85%"></div>
        </div>
    </div>
</div>

<div class="row g-0" style="height: 95px">
    <div class="col-1 g-0 space-board" style="height: 100%">
        <div style="display: flex; height: 100%">
            <div class="bt bl bg-light" style="width: 85%"></div>
            <div class="bt bl br prop-8" style="width: 15%"></div>
        </div>
    </div>
    <div class="col-9 g-0"></div>
    <div class="col-1 g-0 space-board" style="height: 100%">
        <div style="display: flex; height: 100%">
            <div class="bt bl prop-8" style="width: 15%"></div>
            <div class="bt bl br bg-light" style="width: 85%"></div>
        </div>
    </div>
</div>

<div class="row g-0" style="height: 95px">
    <div class="col-1 g-0 space-board" style="height: 100%">
        <div style="display: flex; height: 100%">
            <div class="bt bl bg-light" style="width: 85%"></div>
            <div class="bt bl br prop-2" style="width: 15%"></div>
        </div>
    </div>
    <div class="col-9 g-0"></div>
    <div class="col-1 g-0 bt bl br space-board bg-empty" style="height: 100%"></div>
</div>

<div class="row g-0" style="height: 95px">
    <div class="col-1 g-0 space-board" style="height: 100%">
        <div style="display: flex; height: 100%">
            <div class="bt bl bg-light" style="width: 85%"></div>
            <div class="bt bl br prop-2" style="width: 15%"></div>
        </div>
    </div>
    <div class="col-9 g-0"></div>
    <div class="col-1 g-0 space-board" style="height: 100%">
        <div style="display: flex; height: 100%">
            <div class="bt bl prop-7" style="width: 15%"></div>
            <div class="bt bl br bg-light" style="width: 85%"></div>
        </div>
    </div>
</div>

<div class="row g-0" style="height: 95px">
    <div class="col-1 g-0 space-board" style="height: 100%">
        <div style="display: flex; height: 100%">
            <div class="bt bl bg-light" style="width: 85%"></div>
            <div class="bt bl br prop-9" style="width: 15%"></div>
        </div>
    </div>
    <div class="col-9 g-0"></div>
    <div class="col-1 g-0 bt bl br space-board bg-empty" style="height: 100%"></div>
</div>

<div class="row g-0" style="height: 95px">
    <div class="col-1 g-0 space-board" style="height: 100%">
        <div style="display: flex; height: 100%">
            <div class="bt bl bg-light" style="width: 85%"></div>
            <div class="bt bl br prop-2" style="width: 15%"></div>
        </div>
    </div>
    <div class="col-9 g-0"></div>
    <div class="col-1 g-0 space-board" style="height: 100%">
        <div style="display: flex; height: 100%">
            <div class="bt bl prop-7" style="width: 15%"></div>
            <div class="bt bl br bg-light" style="width: 85%"></div>
        </div>
    </div>
</div>

<div class="row g-0" style="height: 120px">
    <div class="col-1 g-0 space-board bg-empty bt bl bb"></div>
    
    <div class="col-1 g-0 space-board">
        <div class="bt bl prop-1" style="height: 15%"></div>
        <div class="bt bl bb bg-light" style="height: 85%"></div>
    </div>
    
    <div class="col-1 g-0 space-board">
        <div class="bt bl prop-1" style="height: 15%"></div>
        <div class="bt bl bb bg-light" style="height: 85%"></div>
    </div>
    
    <div class="col-1 g-0 bt bl bb space-board bg-empty"></div>
    
    <div class="col-1 g-0 space-board">
        <div class="bt bl prop-1" style="height: 15%"></div>
        <div class="bt bl bb bg-light" style="height: 85%"></div>
    </div>
    
    <div class="col-1 g-0 space-board">
        <div class="bt bl prop-8" style="height: 15%"></div>
        <div class="bt bl bb bg-light" style="height: 85%"></div>
    </div>

    <div class="col-1 g-0 bt bl bb space-board bg-empty"></div>
    
    <div class="col-1 g-0 space-board">
        <div class="bt bl prop-0" style="height: 15%"></div>
        <div class="bt bl bb bg-light" style="height: 85%"></div>
    </div>

    <div class="col-1 g-0 bt bl bb space-board bg-empty"></div>
    
    <div class="col-1 g-0 space-board">
        <div class="bt bl prop-0" style="height: 15%"></div>
        <div class="bt bl bb bg-light" style="height: 85%"></div>
    </div>
    
    <div class="col-1 g-0 bt bb bl br space-board bg-empty"></div>
</div>