<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Monopoly Helper</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/MonopHelper.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/sweetalert2.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/chosen.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/TurnBased.css" asp-append-version="true"/>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.14.5/dist/sweetalert2.min.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="px-4 pt-3 pb-3" style="background: #eee; border-bottom: #ccc inset 1px">
        <div class="container-xxl">
            <button style="display: inline; vertical-align: middle" class="btn btn-primary rounded-pill"
                    onclick="location.assign('/TurnBased')">
                Go Back
            </button>
            <h3 style="display: inline; vertical-align: middle; margin-left: 30px" class="text-center">@ViewData["Title"]</h3>
        </div>
    </div>
</header>
<div class="container-xxl">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
<footer class="border-top footer text-muted">
    <div class="container-xxl">
        @V.GetVersion()
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/admin.js" asp-append-version="true"></script>
<script src="~/js/Cards/Cards.js" asp-append-version="true"></script>
<script src="~/js/TurnBased/play.js" asp-append-version="true"></script>
<script src="~/js/sweetalert2.min.js" asp-append-version="true"></script>
<script src="~/js/chosen.jquery.js" asp-append-version="true"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://kit.fontawesome.com/29bf1169ee.js" crossorigin="anonymous"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>